.modal {
    width: auto !important;
    height: auto !important;
    left: auto !important;
    top: auto !important;
    bottom: auto !important;
    right: auto !important;
}

.multiple-value-text-input-item {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    color: white;
    border: none;
    vertical-align: baseline;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    background: black !important;
    text-shadow: none;
}

.ui.divided.horizontal.list > .item {
    margin-top: 5px !important;
}